  @import 'variables';

  .location {
    text-transform: capitalize;
  }

  .card-wrapper {
    width: auto;  
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;   
    align-self: center;

    margin-top: 3rem;

    color: $black;
  }

  .card {
    width: 5rem;
    height: 25rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;

    color: $white;

    background-size: cover;
    background-position: center;

    time {
      font-size: 2rem;
      font-weight: 700;
    }

    .icn {
    
      fill: $white;
    }

    .temp {
      position: relative;
      &:after {
        content:'\00b0';

        position: absolute;
      }
    }

    &.current {
      align-items: flex-start;

      text-align: left;

      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;

      .card-body {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;

        z-index: 2;

        img, .current-temp {
          grid-column: 1 / 3;

          justify-self: center;
        }
      }

      .card-header {
        z-index: 2;
      }
    }

    &:not(.current) {
      border-right: 1px $greylt solid;
 sol
      &:last-child {
        border-right: none;
      }
      .card-body {
        display: none;
      }

      .card-header {
        min-height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
 
        time{
          display: block;

          text-orientation: sideways-right;
          writing-mode: vertical-rl;
        }
      }
    }

    &:nth-of-type(1) {
      height: 25rem;
      width: 20rem;

      position: relative;
    
      background-size: cover;  
      background-position: center;

      &:after {
        content: '';

        width: 100%;
        height: 100%;

        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        z-index: 1;

        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        background: linear-gradient($purple, $purpleblue, $bluepurple, $blue);
        opacity: 0.5;
      }

      &.background--sunny {
        background-image: url("~@/assets/images/sunny.jpg");
      }
  
      &.background--cloudy {
        background-image: url("~@/assets/images/cloudy.jpg");
      }
  
      &.background--partly-cloudy {
        background-image: url("~@/assets/images/partly-cloudy.jpg");
      }
  
      &.background--lt-rain {
        background-image: url("~@/assets/images/light-rain.jpg");
      }

      &.background--hvy-rain {
        background-image: url("~@/assets/images/hvy-rain.jpg");
      }

      &.background--snow {
        background-image: url("~@/assets/images/snow.jpg");
      }

      &.background--fog {
        background-image: url("~@/assets/images/fog.jpg");
      }

      &.background--thunderstorm {
        background-image: url("~@/assets/images/thunderstorm.jpg");
      }
    }

    &:nth-of-type(2) {
      background-color: $purple;
    }
    &:nth-of-type(3) {
      background-color: $purpleblue;
    }
    &:nth-of-type(4) {
      background-color: $bluepurple;
    }
    &:nth-of-type(5) {
      background-color: $blue;

      border-right: none;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }